# Dart & Flutter
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/key.jks
ios/Pods/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

.env
firebase_options.dart
firebase.json
APIs.json